In [1]:
 text1 = "Ethics are built right into the ideals and objectives of the United Nations"

In [2]:
#Characters
len(text1)

75

In [4]:
# Words
text2 = text1.split()
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations']

In [5]:
[w for w in text2 if len(w)>3]

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [7]:
 #Capitalized words
[w for w in text2 if w.istitle()]

['Ethics', 'United', 'Nations']

In [8]:
# Ending with S
[w for w in text2 if w.endswith('s')]

['Ethics', 'ideals', 'objectives', 'Nations']

In [13]:
#Unique words
text3 = 'To be or not to be'
text4 = text3.split()
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [14]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

In [17]:
text5 = 'ouagadougou'
text6 = text5.split('ou')
text6

['', 'agad', 'g', '']

In [19]:
'ou'.join(text6)

'ouagadougou'

In [20]:
#characters in words
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [22]:
text8 = ' A quick brown fox jumped over the lazy dog. '
text8.split(' ')

['', 'A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.', '']

In [25]:
text9 = text8.strip()
text9.split()

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [28]:
text9

'A quick brown fox jumped over the lazy dog.'

In [26]:
text9.find('o')

10

In [27]:
text9.rfind('o')

40

In [30]:
text9.replace('o','O')

'A quick brOwn fOx jumped Over the lazy dOg.'

In [43]:
textpath = r'C:\Users\Upend\Anaconda3\MyScripts\UDHR.txt'
f = open(textpath,'r')
text14 = f.readline()

In [40]:
f.seek(0)
text12 = f.read()
f.close()
len(text12)

1455

In [39]:
# \n is removed in the output as it splits using \n
text13 = text12.splitlines()

In [36]:
len(text13)

3

In [38]:
text13[0]

'Universal Declaration of Human Rights '

In [41]:
f.closed

True

In [44]:
text14.rstrip()

'Universal Declaration of Human Rights'

## Regualar Expression

. - Wildcard - single character match
^ - start of string
$ - end of the string
[] - matches of one of the set
[a-z] - matches one of range a-z
[^abc] - matches not a b c
a/b - either a or b
() - Scoping for 
\b : word Boundary
\d : == [0-9]
\D : [^0-9]
\s : Any whitespace(\t\r\n\f\v)
\S : Any whitespace(^\t\r\n\f\v)
\w : Alphanumeric([a-zA-Z0-9_])
\W : Non-Alphanumeric([^a-zA-Z0-9_])
* : 0 or more
+ : 1 or more
? : 1 or 0
{n} : exact n times
{n,} : atleast n times
{,n} : atmost n times
{m,n} : atleast m times and atmost n times

In [48]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr @UN @UN_Women'
text6 = text5.split(' ')

text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_Women']

In [49]:
[w for w in text6 if w.startswith('#')]

['#UNSG']

In [50]:
[w for w in text6 if w.startswith('@')]

['@', '@UN', '@UN_Women']

In [53]:
import re
[w for w in text6 if re.search('@[A-Za-z0-9_]+',w)]

['@UN', '@UN_Women']

In [54]:
import re
[w for w in text6 if re.search('@(\w)',w)]

['@UN', '@UN_Women']

In [58]:
text5 = 'ouagadougou'
re.findall(r'[aeiou]',text5)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [75]:
datestr=r'23-10-2002\n23/10/2002\n23/10/02\n10/23/2002\n23 Oct 2002\n23 October 2002\nOct 23, 2002\nOctober 23, 2002\n'

In [76]:
re.findall(r'\d{2}[/-]\d{2}[-/]\d{4}',datestr)

['23-10-2002', '23/10/2002', '10/23/2002']

In [65]:
re.findall(r'\d{2}[/-]\d{2}[-/]\d{2,4}',datestr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [66]:
# for any numberic dates
re.findall(r'\d{1,2}[/-]\d{1,2}[-/]\d{2,4}',datestr)

['23-10-2002', '23/10/2002', '23/10/02', '10/23/2002']

In [67]:
re.findall(r'\d{1,2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}', datestr)

['Oct']

In [68]:
re.findall(r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{2,4}', datestr)

['23 Oct 2002']

In [70]:
re.findall(r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{2,4}', datestr)

['23 Oct 2002', '23 October 2002']

In [80]:
re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{2,4}', datestr)

['23 Oct 2002', '23 October 2002', 'Oct 23, 2002', 'October 23, 2002']

## DataFrame Regular Expressions

In [81]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [82]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [88]:
df['text'].str.split()

0    [Monday:, The, doctor's, appointment, is, at, ...
1    [Tuesday:, The, dentist's, appointment, is, at...
2    [Wednesday:, At, 7:00pm,, there, is, a, basket...
3    [Thursday:, Be, back, home, by, 11:15, pm, at,...
4    [Friday:, Take, the, train, at, 08:10, am,, ar...
Name: text, dtype: object

In [89]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [90]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [92]:
df['text'].str.count(r':')

0    2
1    2
2    2
3    2
4    3
Name: text, dtype: int64

In [94]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [96]:
df['text'].str.findall(r'\d{1,2}:\d{1,2}')

0            [2:45]
1           [11:30]
2            [7:00]
3           [11:15]
4    [08:10, 09:00]
Name: text, dtype: object

In [101]:
df['text'].str.replace(r'\w+day\b','???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [110]:
df['text'].str.replace(r'(\w+day\b)',lambda x:x[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [104]:
df['text'].str.findall(r'(\w+day\b)')

0       [Monday]
1      [Tuesday]
2    [Wednesday]
3     [Thursday]
4       [Friday]
Name: text, dtype: object

In [115]:
df['text'].str.extract(r'(\d?\d):(\d?\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [116]:
df['text'].str.findall(r'(\d?\d):(\d?\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [123]:
df['text'].str.extractall(r'(\d?\d):(\d?\d) ?([ap]m)')

          0   1   2
  match
0 0       2  45  pm
1 0      11  30  am
2 0       7  00  pm
3 0      11  15  pm
4 0      08  10  am
  1      09  00  am

In [125]:
#To names the columns
df['text'].str.extractall(r'(?P<hours>\d?\d):(?P<min>\d?\d) ?(?P<period>[ap]m)')

        hours min period
  match
0 0         2  45     pm
1 0        11  30     am
2 0         7  00     pm
3 0        11  15     pm
4 0        08  10     am
  1        09  00     am

In [ ]:
UTF-8 Encoding of text data

## Natural Language Processing (NLP)

In [129]:
import nltk

In [ ]:
# to download the corpora - large set of structured words and sentences
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [131]:
# Sample corpora
from nltk.book import *

In [132]:
text1

In [133]:
# each sentence is from each text
sents()

sent1: Call me Ishmael .
sent2: The family of Dashwood had long been settled in Sussex .
sent3: In the beginning God created the heaven and the earth .
sent4: Fellow - Citizens of the Senate and of the House of Representatives :
sent5: I have a problem with people PMing me to lol JOIN
sent6: SCENE 1 : [ wind ] [ clop clop clop ] KING ARTHUR : Whoa there !
sent7: Pierre Vinken , 61 years old , will join the board as a nonexecutive director Nov. 29 .
sent8: 25 SEXY MALE , seeks attrac older single lady , for discreet encounters .
sent9: THE suburb of Saffron Park lay on the sunset side of London , as red and ragged as a cloud of sunset .

In [134]:
sent1

['Call', 'me', 'Ishmael', '.']

In [135]:
text7

In [136]:
sent7

['Pierre',
 'Vinken',
 ',',
 '61',
 'years',
 'old',
 ',',
 'will',
 'join',
 'the',
 'board',
 'as',
 'a',
 'nonexecutive',
 'director',
 'Nov.',
 '29',
 '.']

In [138]:
len(sent7)

18

In [139]:
len(text7)

100676

In [140]:
len(set(text7))

12408

In [141]:
list(set(text7))[:10]

['embassy',
 'Albuquerque',
 '1.4',
 'March',
 'maze',
 '*-149',
 'Cotran',
 'Raleigh',
 'belts',
 'Municipal']

In [142]:
# to get distinct words frequency - returns a dictionary
dist = FreqDist(text7)

In [143]:
len(dist.keys())

12408

In [148]:
vocab1 = list(dist.keys())

In [149]:
vocab1[:10]

['Pierre', 'Vinken', ',', '61', 'years', 'old', 'will', 'join', 'the', 'board']

In [150]:
dist['years']

115

In [152]:
[w for w in vocab1 if len(w) > 5 and dist[w] > 100]

['billion',
 'company',
 'president',
 'because',
 'market',
 'million',
 'shares',
 'trading',
 'program']

# Normalization
- is to removed any disturbances like Capital Letter 
- List and list are same

In [154]:
input1 = "List listed lists listing listings"

In [155]:
words1 = input1.lower().split()

In [157]:
words1

['list', 'listed', 'lists', 'listing', 'listings']

# Stemming
- to get the root form a particular word

In [160]:
porter = nltk.PorterStemmer()
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list']

# Lemmatization
- to have a meaning full word

In [162]:
udhr = nltk.corpus.udhr.words('English-Latin1')

In [163]:
len(udhr)

1781

In [164]:
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [169]:
# Stemmed Version is not providing valid and meaning full words
porter = nltk.PorterStemmer()
[porter.stem(t) for t in udhr[:20]]

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [171]:
WNlemma = nltk.WordNetLemmatizer()
[WNlemma.lemmatize(t) for t in udhr[:20]]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

# Tokenization
- dividing a sentence into words
- dividing a para into sentence

In [173]:
text1 = "Children shouldn't drink coffee."

In [174]:
text1.split()

['Children', "shouldn't", 'drink', 'coffee.']

In [175]:
# sentence to words
nltk.word_tokenize(text1)

['Children', 'should', "n't", 'drink', 'coffee', '.']

In [177]:
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the thrid sentence? Yes, it is!"

In [178]:
# Sentence Splitting
nltk.sent_tokenize(text12)

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the thrid sentence?',
 'Yes, it is!']

# Part of Speech(POS) Tagging
NN - Noun
JJ - Adjective
RB - Adverb
VB - Verb
IN - Preposition

In [180]:
import nltk
nltk.help.upenn_tagset('MD')

MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would

In [182]:
text11 = "Children shouldn't drink a sugary drink before bed."
text13 = nltk.word_tokenize(text11)
nltk.pos_tag(text13)

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [184]:
#ambiguous
text14 = "Visiting aunts can be a nuisance"
text15 = nltk.word_tokenize(text14)
nltk.pos_tag(text15)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

# Parsing Sentence Structure
- Tokenizing the sentence
- writting the Context Free Grammer
- and mapping it to the sentence
- checking the Tree details

In [186]:
text16 = nltk.word_tokenize("Alice loves Bob")
nltk.pos_tag(text16)

[('Alice', 'NNP'), ('loves', 'VBZ'), ('Bob', 'NNP')]

In [200]:
# Parsing sentence structure
# S - Sentence
# NP - Noun phrase
# VP - Verb Phrase
# V - Verb
text15 = nltk.word_tokenize("Alice loves Bob")
grammar = nltk.CFG.fromstring("""
S -> NP VP  
VP -> V NP
NP -> 'Alice' | 'Bob'
V -> 'loves'
""")

parser = nltk.ChartParser(grammar)
trees = parser.parse_all(text15)
for tree in trees:
    print(tree)

(S (NP Alice) (VP (V loves) (NP Bob)))

In [223]:
# not working
text16 = nltk.word_tokenize("I saw the man with a telescope")
grammer = nltk.data.load('mygrammer.cfg')
parser = nltk.ChartParser(grammer)
trees = parser.parse_all(text16)
for tree in trees:
    print(tree)

IndexError: list index out of range

In [225]:
from nltk.corpus import treebank

In [227]:
text17 = treebank.parsed_sents('wsj_0001.mrg')
print(text17)

[Tree('S', [Tree('NP-SBJ', [Tree('NP', [Tree('NNP', ['Pierre']), Tree('NNP', ['Vinken'])]), Tree(',', [',']), Tree('ADJP', [Tree('NP', [Tree('CD', ['61']), Tree('NNS', ['years'])]), Tree('JJ', ['old'])]), Tree(',', [','])]), Tree('VP', [Tree('MD', ['will']), Tree('VP', [Tree('VB', ['join']), Tree('NP', [Tree('DT', ['the']), Tree('NN', ['board'])]), Tree('PP-CLR', [Tree('IN', ['as']), Tree('NP', [Tree('DT', ['a']), Tree('JJ', ['nonexecutive']), Tree('NN', ['director'])])]), Tree('NP-TMP', [Tree('NNP', ['Nov.']), Tree('CD', ['29'])])])]), Tree('.', ['.'])]), Tree('S', [Tree('NP-SBJ', [Tree('NNP', ['Mr.']), Tree('NNP', ['Vinken'])]), Tree('VP', [Tree('VBZ', ['is']), Tree('NP-PRD', [Tree('NP', [Tree('NN', ['chairman'])]), Tree('PP', [Tree('IN', ['of']), Tree('NP', [Tree('NP', [Tree('NNP', ['Elsevier']), Tree('NNP', ['N.V.'])]), Tree(',', [',']), Tree('NP', [Tree('DT', ['the']), Tree('NNP', ['Dutch']), Tree('VBG', ['publishing']), Tree('NN', ['group'])])])])])]), Tree('.', ['.'])])]